/* Set some widths for non-mobile screens */
@media only screen and (min-width : 1224px) {
  body {
    width: 370px;
    margin: 0 auto;
  }
}
/*--- Main ---*/
html {
  font-size: 100%;
  background-color: #F5F5F5;
  color: #333;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-height: 100%;
  font: normal 12px/20px helvetica,arial,sans-serif;
  text-align: center;
}

a {
  color: #357AE8;
}
a:hover {
  color: #4D90FE;
}
a:active {
  color: #3079ED;
}

li {
  list-style-type: none;
}

/*-- Common --*/
section {
  overflow: hidden;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.sectionHeader {
  padding: 20px;
  background-color: #303030;
  color: #FFF;
  text-align: left;
}
.island {
  position: relative;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #F5F5F5;
  margin: 5px;
  padding: 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.island h2 {
  line-height: 1.5;
}
.island .close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #000;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
}
.island .close:active {
  background-color: #E4E4E4;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.boxed {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grey {
  color: #757575;
}

/*--- Main elements ---*/
.topHeading {
  position: relative;
  width: 100%;
  height: 52px; /* 32px + 10x2 */
  padding: 10px;
  background-color: #303030;
  text-align: left;
  color: #FFF;
  -webkit-box-shadow: 0 0 10px black;
     -moz-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.topHeading .menu {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -16px;
}

.bottomNav {
  margin: 20px auto;
}

.information {
  padding: 10px;
}
.ctaBox {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.districts {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
       -o-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}
footer {
  background-color: #303030;
  color: #FFF;
}
footer p {
  font-size: 0.75em;
}

/*--- Search ---*/
#search {
  display: none;
  border-bottom: 2px solid #D1D1D1;
  background-color: transparent;
}
.searchForm {
  margin: 10px;
}
input {
  height: 40px;
  line-height: 40px;
  width: 100%;
  display: block;
}
.noHits {
  padding-bottom: 10px;
}

/*-- Listing --*/

.list {
  margin: 0 auto;
  text-align: left;
}
.list .item:last-child {
  border-bottom: none;
}
.item {
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 2px solid #CCC;
  font-weight: bolder;
  position: relative;
}
.item .subText {
  color: #CCC;
}
.item .follow {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  font-size: 20px;
  font-style: normal;
  color: #CCC;
}

.list .selected .follow {
  display: none;
}
.list .selected:after {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  content: "✔ ";
  font-size: 20px;
  font-style: normal;
}

.marks .mark {
  border-bottom: 1px solid #999;
  background-color: #F5F5F5;
}

.marks .mark:last-child {
  border-bottom: none;
}

.marks .image {
  padding: 1em 0;
  margin: 0 auto;
  max-height: 150px;
}

.marks .image .owner {
  text-shadow: 1px 1px 0px #CCC;
}

.marks .selected {
  background-color: #FFF;
}

.marks .information {
  display: none;
}

.marks .information .content {
  padding: 1em 0;
}

/*-- Widgets --*/

.uiBlock {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 144px;
}
.btnImg {
  display: inline-block;
  width: 48px;
  height: 32px;
  padding: 4px 8px;
}
.btnImg .image {
    border: none;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}

.button {
  line-height: 32px;
  background-color: #4D90FE;
  background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);
  background-image:    -moz-linear-gradient(top, #4D90FE, #4787ED);
  background-image:      -o-linear-gradient(top, #4D90FE, #4787ED);
  background-image:         linear-gradient(top, #4D90FE, #4787ED);
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border: 1px solid #3079ED;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.button:hover {
  background-color: #357AE8;
  background-image: -webkit-linear-gradient(top, #4D90FE, #357AE8);
  background-image:    -moz-linear-gradient(top, #4D90FE, #357AE8);
  background-image:      -o-linear-gradient(top, #4D90FE, #357AE8);
  background-image:         linear-gradient(top, #4D90FE, #357AE8);
  border: 1px solid #2F5BB7;
}
.button.active, .button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.cta {
  text-transform: uppercase;
  border: 1px solid #DA9907;
  background-color: #EAA407;
  background-image: -webkit-linear-gradient(top, #EAA407, #DD9B06);
  background-image:    -moz-linear-gradient(top, #EAA407, #DD9B06);
  background-image:      -o-linear-gradient(top, #EAA407, #DD9B06);
  background-image:         linear-gradient(top, #EAA407, #DD9B06);
}
.cta:hover {
  background-color: #BB8304;
  background-image: -webkit-linear-gradient(top, #EAA407, #BB8304);
  background-image:    -moz-linear-gradient(top, #EAA407, #BB8304);
  background-image:      -o-linear-gradient(top, #EAA407, #BB8304);
  background-image:         linear-gradient(top, #EAA407, #BB8304);
  border: 1px solid #A57A1A;
}
.btnText {
  padding: 0 8px;
  height: 40px;
  line-height: 27px;
  min-width: 70px;
}
