#cuts {
    width: 300px;
    height: 140px;
}
#reset {
    left: 290px;
    top: 0;
}
.ear {
    width: 301px;
    height: 81px;
}

.ear .front, .ear .back {
    width: 200px;
    height: 40px;
    line-height: 40px;
}

.ear .side {
    width: 100px;
    height: 80px;
    line-height: 80px;
}
