#cuts {
    width: 460px;
    height: 140px;
}
.reset {
    left: 450px;
    top: 0;
}
.ear {
    width: 461px;
    height: 81px;
}
.ear .forward, .ear .back {
    width: 310px;
    height: 40px;
    line-height: 40px;
}
.ear .side {
    width: 150px;
    height: 80px;
    line-height: 80px;
}
