.sprite-marks-98,
.sprite-marks-974,
.sprite-marks-957,
.sprite-marks-954,
.sprite-marks-951,
.sprite-marks-931,
.sprite-marks-92,
.sprite-marks-914,
.sprite-marks-85,
.sprite-marks-80,
.sprite-marks-76,
.sprite-marks-69,
.sprite-marks-681,
.sprite-marks-664,
.sprite-marks-663,
.sprite-marks-660,
.sprite-marks-657,
.sprite-marks-652,
.sprite-marks-649,
.sprite-marks-646,
.sprite-marks-643,
.sprite-marks-64,
.sprite-marks-639,
.sprite-marks-629,
.sprite-marks-613,
.sprite-marks-608,
.sprite-marks-601,
.sprite-marks-596,
.sprite-marks-584,
.sprite-marks-573,
.sprite-marks-565,
.sprite-marks-560,
.sprite-marks-559,
.sprite-marks-556,
.sprite-marks-550,
.sprite-marks-548,
.sprite-marks-546,
.sprite-marks-542,
.sprite-marks-539,
.sprite-marks-534,
.sprite-marks-531,
.sprite-marks-529,
.sprite-marks-527,
.sprite-marks-526,
.sprite-marks-525,
.sprite-marks-5230,
.sprite-marks-522,
.sprite-marks-521,
.sprite-marks-519,
.sprite-marks-518,
.sprite-marks-516,
.sprite-marks-5130,
.sprite-marks-513,
.sprite-marks-5120,
.sprite-marks-5119,
.sprite-marks-5117,
.sprite-marks-511,
.sprite-marks-5100,
.sprite-marks-509,
.sprite-marks-508,
.sprite-marks-506,
.sprite-marks-505,
.sprite-marks-5040,
.sprite-marks-5036,
.sprite-marks-5035,
.sprite-marks-5033,
.sprite-marks-5022,
.sprite-marks-4946,
.sprite-marks-4945,
.sprite-marks-494,
.sprite-marks-490,
.sprite-marks-489,
.sprite-marks-4881,
.sprite-marks-4878,
.sprite-marks-4877,
.sprite-marks-4876,
.sprite-marks-4875,
.sprite-marks-4874,
.sprite-marks-4873,
.sprite-marks-4872,
.sprite-marks-4871,
.sprite-marks-4870,
.sprite-marks-487,
.sprite-marks-4869,
.sprite-marks-4868,
.sprite-marks-4867,
.sprite-marks-4866,
.sprite-marks-4865,
.sprite-marks-4862,
.sprite-marks-484,
.sprite-marks-482,
.sprite-marks-4815,
.sprite-marks-4781,
.sprite-marks-4780,
.sprite-marks-4778,
.sprite-marks-4777,
.sprite-marks-4771,
.sprite-marks-4770,
.sprite-marks-477,
.sprite-marks-47,
.sprite-marks-466,
.sprite-marks-464,
.sprite-marks-4598,
.sprite-marks-4597,
.sprite-marks-4596,
.sprite-marks-4595,
.sprite-marks-4594,
.sprite-marks-4593,
.sprite-marks-4591,
.sprite-marks-4590,
.sprite-marks-4589,
.sprite-marks-4588,
.sprite-marks-4587,
.sprite-marks-4586,
.sprite-marks-4585,
.sprite-marks-4584,
.sprite-marks-4583,
.sprite-marks-4582,
.sprite-marks-458,
.sprite-marks-4575,
.sprite-marks-4574,
.sprite-marks-455,
.sprite-marks-4546,
.sprite-marks-4533,
.sprite-marks-4532,
.sprite-marks-4531,
.sprite-marks-4521,
.sprite-marks-452,
.sprite-marks-449,
.sprite-marks-439,
.sprite-marks-435,
.sprite-marks-417,
.sprite-marks-412,
.sprite-marks-41,
.sprite-marks-408,
.sprite-marks-385,
.sprite-marks-380,
.sprite-marks-377,
.sprite-marks-373,
.sprite-marks-2484,
.sprite-marks-2477,
.sprite-marks-2475,
.sprite-marks-2474,
.sprite-marks-2473,
.sprite-marks-2469,
.sprite-marks-2468,
.sprite-marks-2467,
.sprite-marks-2466,
.sprite-marks-2465,
.sprite-marks-2464,
.sprite-marks-2463,
.sprite-marks-2462,
.sprite-marks-2461,
.sprite-marks-2460,
.sprite-marks-2396,
.sprite-marks-2395,
.sprite-marks-2378,
.sprite-marks-2377,
.sprite-marks-2376,
.sprite-marks-2375,
.sprite-marks-1889,
.sprite-marks-152,
.sprite-marks-148,
.sprite-marks-139,
.sprite-marks-127,
.sprite-marks-118,
.sprite-marks-114,
.sprite-marks-105,
.sprite-marks-100{background-image:url('../img/marks.png');background-repeat:no-repeat;}
.sprite-marks-98{background-position:0px 0px;width:140px; height:50px;}
.sprite-marks-974{background-position:0px -50px;width:140px; height:50px;}
.sprite-marks-957{background-position:-140px 0px;width:140px; height:50px;}
.sprite-marks-954{background-position:-140px -50px;width:140px; height:50px;}
.sprite-marks-951{background-position:0px -100px;width:140px; height:50px;}
.sprite-marks-931{background-position:-140px -100px;width:140px; height:50px;}
.sprite-marks-92{background-position:0px -150px;width:140px; height:50px;}
.sprite-marks-914{background-position:-140px -150px;width:140px; height:50px;}
.sprite-marks-85{background-position:0px -200px;width:140px; height:50px;}
.sprite-marks-80{background-position:-140px -200px;width:140px; height:50px;}
.sprite-marks-76{background-position:-280px 0px;width:140px; height:50px;}
.sprite-marks-69{background-position:-280px -50px;width:140px; height:50px;}
.sprite-marks-681{background-position:-280px -100px;width:140px; height:50px;}
.sprite-marks-664{background-position:-280px -150px;width:140px; height:50px;}
.sprite-marks-663{background-position:-280px -200px;width:140px; height:50px;}
.sprite-marks-660{background-position:0px -250px;width:140px; height:50px;}
.sprite-marks-657{background-position:-140px -250px;width:140px; height:50px;}
.sprite-marks-652{background-position:-280px -250px;width:140px; height:50px;}
.sprite-marks-649{background-position:0px -300px;width:140px; height:50px;}
.sprite-marks-646{background-position:-140px -300px;width:140px; height:50px;}
.sprite-marks-643{background-position:-280px -300px;width:140px; height:50px;}
.sprite-marks-64{background-position:0px -350px;width:140px; height:50px;}
.sprite-marks-639{background-position:-140px -350px;width:140px; height:50px;}
.sprite-marks-629{background-position:-280px -350px;width:140px; height:50px;}
.sprite-marks-613{background-position:-420px 0px;width:140px; height:50px;}
.sprite-marks-608{background-position:-420px -50px;width:140px; height:50px;}
.sprite-marks-601{background-position:-420px -100px;width:140px; height:50px;}
.sprite-marks-596{background-position:-420px -150px;width:140px; height:50px;}
.sprite-marks-584{background-position:-420px -200px;width:140px; height:50px;}
.sprite-marks-573{background-position:-420px -250px;width:140px; height:50px;}
.sprite-marks-565{background-position:-420px -300px;width:140px; height:50px;}
.sprite-marks-560{background-position:-420px -350px;width:140px; height:50px;}
.sprite-marks-559{background-position:0px -400px;width:140px; height:50px;}
.sprite-marks-556{background-position:-140px -400px;width:140px; height:50px;}
.sprite-marks-550{background-position:-280px -400px;width:140px; height:50px;}
.sprite-marks-548{background-position:-420px -400px;width:140px; height:50px;}
.sprite-marks-546{background-position:0px -450px;width:140px; height:50px;}
.sprite-marks-542{background-position:-140px -450px;width:140px; height:50px;}
.sprite-marks-539{background-position:-280px -450px;width:140px; height:50px;}
.sprite-marks-534{background-position:-420px -450px;width:140px; height:50px;}
.sprite-marks-531{background-position:0px -500px;width:140px; height:50px;}
.sprite-marks-529{background-position:-140px -500px;width:140px; height:50px;}
.sprite-marks-527{background-position:-280px -500px;width:140px; height:50px;}
.sprite-marks-526{background-position:-420px -500px;width:140px; height:50px;}
.sprite-marks-525{background-position:-560px 0px;width:140px; height:50px;}
.sprite-marks-5230{background-position:-560px -50px;width:140px; height:50px;}
.sprite-marks-522{background-position:-560px -100px;width:140px; height:50px;}
.sprite-marks-521{background-position:-560px -150px;width:140px; height:50px;}
.sprite-marks-519{background-position:-560px -200px;width:140px; height:50px;}
.sprite-marks-518{background-position:-560px -250px;width:140px; height:50px;}
.sprite-marks-516{background-position:-560px -300px;width:140px; height:50px;}
.sprite-marks-5130{background-position:-560px -350px;width:140px; height:50px;}
.sprite-marks-513{background-position:-560px -400px;width:140px; height:50px;}
.sprite-marks-5120{background-position:-560px -450px;width:140px; height:50px;}
.sprite-marks-5119{background-position:-560px -500px;width:140px; height:50px;}
.sprite-marks-5117{background-position:0px -550px;width:140px; height:50px;}
.sprite-marks-511{background-position:-140px -550px;width:140px; height:50px;}
.sprite-marks-5100{background-position:-280px -550px;width:140px; height:50px;}
.sprite-marks-509{background-position:-420px -550px;width:140px; height:50px;}
.sprite-marks-508{background-position:-560px -550px;width:140px; height:50px;}
.sprite-marks-506{background-position:0px -600px;width:140px; height:50px;}
.sprite-marks-505{background-position:-140px -600px;width:140px; height:50px;}
.sprite-marks-5040{background-position:-280px -600px;width:140px; height:50px;}
.sprite-marks-5036{background-position:-420px -600px;width:140px; height:50px;}
.sprite-marks-5035{background-position:-560px -600px;width:140px; height:50px;}
.sprite-marks-5033{background-position:0px -650px;width:140px; height:50px;}
.sprite-marks-5022{background-position:-140px -650px;width:140px; height:50px;}
.sprite-marks-4946{background-position:-280px -650px;width:140px; height:50px;}
.sprite-marks-4945{background-position:-420px -650px;width:140px; height:50px;}
.sprite-marks-494{background-position:-560px -650px;width:140px; height:50px;}
.sprite-marks-490{background-position:-700px 0px;width:140px; height:50px;}
.sprite-marks-489{background-position:-700px -50px;width:140px; height:50px;}
.sprite-marks-4881{background-position:-700px -100px;width:140px; height:50px;}
.sprite-marks-4878{background-position:-700px -150px;width:140px; height:50px;}
.sprite-marks-4877{background-position:-700px -200px;width:140px; height:50px;}
.sprite-marks-4876{background-position:-700px -250px;width:140px; height:50px;}
.sprite-marks-4875{background-position:-700px -300px;width:140px; height:50px;}
.sprite-marks-4874{background-position:-700px -350px;width:140px; height:50px;}
.sprite-marks-4873{background-position:-700px -400px;width:140px; height:50px;}
.sprite-marks-4872{background-position:-700px -450px;width:140px; height:50px;}
.sprite-marks-4871{background-position:-700px -500px;width:140px; height:50px;}
.sprite-marks-4870{background-position:-700px -550px;width:140px; height:50px;}
.sprite-marks-487{background-position:-700px -600px;width:140px; height:50px;}
.sprite-marks-4869{background-position:-700px -650px;width:140px; height:50px;}
.sprite-marks-4868{background-position:0px -700px;width:140px; height:50px;}
.sprite-marks-4867{background-position:-140px -700px;width:140px; height:50px;}
.sprite-marks-4866{background-position:-280px -700px;width:140px; height:50px;}
.sprite-marks-4865{background-position:-420px -700px;width:140px; height:50px;}
.sprite-marks-4862{background-position:-560px -700px;width:140px; height:50px;}
.sprite-marks-484{background-position:-700px -700px;width:140px; height:50px;}
.sprite-marks-482{background-position:0px -750px;width:140px; height:50px;}
.sprite-marks-4815{background-position:-140px -750px;width:140px; height:50px;}
.sprite-marks-4781{background-position:-280px -750px;width:140px; height:50px;}
.sprite-marks-4780{background-position:-420px -750px;width:140px; height:50px;}
.sprite-marks-4778{background-position:-560px -750px;width:140px; height:50px;}
.sprite-marks-4777{background-position:-700px -750px;width:140px; height:50px;}
.sprite-marks-4771{background-position:-840px 0px;width:140px; height:50px;}
.sprite-marks-4770{background-position:-840px -50px;width:140px; height:50px;}
.sprite-marks-477{background-position:-840px -100px;width:140px; height:50px;}
.sprite-marks-47{background-position:-840px -150px;width:140px; height:50px;}
.sprite-marks-466{background-position:-840px -200px;width:140px; height:50px;}
.sprite-marks-464{background-position:-840px -250px;width:140px; height:50px;}
.sprite-marks-4598{background-position:-840px -300px;width:140px; height:50px;}
.sprite-marks-4597{background-position:-840px -350px;width:140px; height:50px;}
.sprite-marks-4596{background-position:-840px -400px;width:140px; height:50px;}
.sprite-marks-4595{background-position:-840px -450px;width:140px; height:50px;}
.sprite-marks-4594{background-position:-840px -500px;width:140px; height:50px;}
.sprite-marks-4593{background-position:-840px -550px;width:140px; height:50px;}
.sprite-marks-4591{background-position:-840px -600px;width:140px; height:50px;}
.sprite-marks-4590{background-position:-840px -650px;width:140px; height:50px;}
.sprite-marks-4589{background-position:-840px -700px;width:140px; height:50px;}
.sprite-marks-4588{background-position:-840px -750px;width:140px; height:50px;}
.sprite-marks-4587{background-position:0px -800px;width:140px; height:50px;}
.sprite-marks-4586{background-position:-140px -800px;width:140px; height:50px;}
.sprite-marks-4585{background-position:-280px -800px;width:140px; height:50px;}
.sprite-marks-4584{background-position:-420px -800px;width:140px; height:50px;}
.sprite-marks-4583{background-position:-560px -800px;width:140px; height:50px;}
.sprite-marks-4582{background-position:-700px -800px;width:140px; height:50px;}
.sprite-marks-458{background-position:-840px -800px;width:140px; height:50px;}
.sprite-marks-4575{background-position:0px -850px;width:140px; height:50px;}
.sprite-marks-4574{background-position:-140px -850px;width:140px; height:50px;}
.sprite-marks-455{background-position:-280px -850px;width:140px; height:50px;}
.sprite-marks-4546{background-position:-420px -850px;width:140px; height:50px;}
.sprite-marks-4533{background-position:-560px -850px;width:140px; height:50px;}
.sprite-marks-4532{background-position:-700px -850px;width:140px; height:50px;}
.sprite-marks-4531{background-position:-840px -850px;width:140px; height:50px;}
.sprite-marks-4521{background-position:0px -900px;width:140px; height:50px;}
.sprite-marks-452{background-position:-140px -900px;width:140px; height:50px;}
.sprite-marks-449{background-position:-280px -900px;width:140px; height:50px;}
.sprite-marks-439{background-position:-420px -900px;width:140px; height:50px;}
.sprite-marks-435{background-position:-560px -900px;width:140px; height:50px;}
.sprite-marks-417{background-position:-700px -900px;width:140px; height:50px;}
.sprite-marks-412{background-position:-840px -900px;width:140px; height:50px;}
.sprite-marks-41{background-position:-980px 0px;width:140px; height:50px;}
.sprite-marks-408{background-position:-980px -50px;width:140px; height:50px;}
.sprite-marks-385{background-position:-980px -100px;width:140px; height:50px;}
.sprite-marks-380{background-position:-980px -150px;width:140px; height:50px;}
.sprite-marks-377{background-position:-980px -200px;width:140px; height:50px;}
.sprite-marks-373{background-position:-980px -250px;width:140px; height:50px;}
.sprite-marks-2484{background-position:-980px -300px;width:140px; height:50px;}
.sprite-marks-2477{background-position:-980px -350px;width:140px; height:50px;}
.sprite-marks-2475{background-position:-980px -400px;width:140px; height:50px;}
.sprite-marks-2474{background-position:-980px -450px;width:140px; height:50px;}
.sprite-marks-2473{background-position:-980px -500px;width:140px; height:50px;}
.sprite-marks-2469{background-position:-980px -550px;width:140px; height:50px;}
.sprite-marks-2468{background-position:-980px -600px;width:140px; height:50px;}
.sprite-marks-2467{background-position:-980px -650px;width:140px; height:50px;}
.sprite-marks-2466{background-position:-980px -700px;width:140px; height:50px;}
.sprite-marks-2465{background-position:-980px -750px;width:140px; height:50px;}
.sprite-marks-2464{background-position:-980px -800px;width:140px; height:50px;}
.sprite-marks-2463{background-position:-980px -850px;width:140px; height:50px;}
.sprite-marks-2462{background-position:-980px -900px;width:140px; height:50px;}
.sprite-marks-2461{background-position:0px -950px;width:140px; height:50px;}
.sprite-marks-2460{background-position:-140px -950px;width:140px; height:50px;}
.sprite-marks-2396{background-position:-280px -950px;width:140px; height:50px;}
.sprite-marks-2395{background-position:-420px -950px;width:140px; height:50px;}
.sprite-marks-2378{background-position:-560px -950px;width:140px; height:50px;}
.sprite-marks-2377{background-position:-700px -950px;width:140px; height:50px;}
.sprite-marks-2376{background-position:-840px -950px;width:140px; height:50px;}
.sprite-marks-2375{background-position:-980px -950px;width:140px; height:50px;}
.sprite-marks-1889{background-position:0px -1000px;width:140px; height:50px;}
.sprite-marks-152{background-position:-140px -1000px;width:140px; height:50px;}
.sprite-marks-148{background-position:-280px -1000px;width:140px; height:50px;}
.sprite-marks-139{background-position:-420px -1000px;width:140px; height:50px;}
.sprite-marks-127{background-position:-560px -1000px;width:140px; height:50px;}
.sprite-marks-118{background-position:-700px -1000px;width:140px; height:50px;}
.sprite-marks-114{background-position:-840px -1000px;width:140px; height:50px;}
.sprite-marks-105{background-position:-980px -1000px;width:140px; height:50px;}
.sprite-marks-100{background-position:0px -1050px;width:140px; height:50px;}
