/*--- Main ---*/
html {
  font-size: 100%;
  background-color: #F1F1F1;
  color: #333;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-height: 100%;
  font: normal 12px/20px helvetica,arial,sans-serif;
  text-align: center;
}

li {
  list-style-type: none;
}

/*-- Common --*/
section {
  padding-top: 10px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.wide {
    display: block;
    margin: 10px auto;
    width: 300px;
}
.boxed {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*--- Main elements ---*/
.topHeading {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #303030;
  color: #FFF;
  -webkit-box-shadow: 0 0 10px black;
     -moz-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.topHeading .title {
  text-align: center;
  text-transform: uppercase;
}

.topHeading .menu {
  position: absolute;
  right: 15px;
  top: 50%;
  line-height: 36px;
  margin-top: -18px;
}

.bottomNav {
  margin: 20px auto;
}

.information {
  padding: 10px;
}

.districts {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
       -o-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}

/*--- Search ---*/
#search {
  display: none;
  border-bottom: 2px solid #D1D1D1;
  background-color: transparent;
}
.noHits {
  padding-bottom: 10px;
}

/*--- Appcache Loader ---*/
.topHeading .appcache {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -9px;
}

.appcache .progress {
  display: none;
  width: 150px;
}

/*-- Listing --*/

.list {
  width: 190px;
  margin: 0 auto;
  text-align: left;
}

.item {
  text-decoration: underline;
  cursor: pointer;
  padding: 6px;
  margin: 3px;
}

.list .selected {
  text-decoration: none;
}

.list .selected:before {
  content: "✔ ";
  margin-left: -14px;
}

.marks .mark {
  border-bottom: 1px solid #999;
  background-image: -webkit-linear-gradient(#fdfdfd,#eee);
  background-image:    -moz-linear-gradient(#fdfdfd,#eee);
  background-image:      -o-linear-gradient(#fdfdfd,#eee);
  background-image:         linear-gradient(#fdfdfd,#eee);
}

.marks .image {
  padding: 1em 0;
  margin: 0 auto;
}

.marks .image .owner {
  text-shadow: 1px 1px 0px #CCC;
}

.marks .selected {
  background-image: -webkit-linear-gradient(#ededed,#dadada);
  background-image:    -moz-linear-gradient(#ededed,#dadada);
  background-image:      -o-linear-gradient(#ededed,#dadada);
  background-image:         linear-gradient(#ededed,#dadada);
}

.marks .information {
  display: none;
}

.marks .information .content {
  padding: 1em 0;
}

/*-- Widgets --*/

.uiBlock {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 144px;
}
.btnImg {
  display: inline-block;
  width: 48px;
  height: 32px;
  padding: 4px 8px;
}
.btnImg img {
    height: 20px;
    width: 20px;
}

.button {
  background-color: #4D90FE;
  background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);
  background-image:    -moz-linear-gradient(top, #4D90FE, #4787ED);
  background-image:      -o-linear-gradient(top, #4D90FE, #4787ED);
  background-image:         linear-gradient(top, #4D90FE, #4787ED);
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid #3079ED;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.button:hover {
  background-color: #357AE8;
  background-image: -webkit-linear-gradient(top, #4D90FE, #357AE8);
  background-image:    -moz-linear-gradient(top, #4D90FE, #357AE8);
  background-image:      -o-linear-gradient(top, #4D90FE, #357AE8);
  background-image:         linear-gradient(top, #4D90FE, #357AE8);
  border: 1px solid #2F5BB7;
}
.button.active, .button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
button, .btnText {
  padding: 0 8px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
}
