/*--- Main ---*/
a {
    color: #00A0B0;
}
html {
    font-size: 100%;
    background-color: #F6F6F6;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    min-height: 100%;
    font: normal 12px/20px helvetica,arial,sans-serif;
    text-align: center;
}

li {
    list-style-type: none;
}

#header {
    padding: 19px 0;
    background-color: #EDC951;
    color: #FFF;
    text-shadow: 1px 1px 0px #333;
    text-transform: uppercase;
}

/*-- Listing --*/

.districts {
    width: 190px;
    margin: 0 auto;
    text-align: left;
}
.district {
    cursor: pointer;
    padding: 6px;
    margin: 3px;
}
.selected a {
    color: #F6F6F6;
}
.selected {
    text-align: center;
    background-color: #00A0B0;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #333;
}

.marks .mark {
    border-bottom: 1px solid #999;
    background-image: -webkit-linear-gradient(#fdfdfd,#eee);
    background-image: linear-gradient(#fdfdfd,#eee);
}

.marks .image {
    padding: 1em 0;
}

.marks .image .content {
    margin: 0 auto;
}

.marks .selected {
    background-image: -webkit-linear-gradient(#ededed,#dadada);
    background-image: linear-gradient(#ededed,#dadada);
}

.marks .information {
    display: none;
}

.marks .information .content {
    padding: 1em 0;
    background-color: #FFF;
}
